<html>

<head>
<title>Account Created | BookEasy </title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" >
</head>

<body>
<br>
<h1>BookEasy - Ticket Bookings Made Easy</h1>
<h2>Account Created Successfully!</h2>
<br><br>

<table>
<tr>

<td>
</td>


<td>
<a href="./home">
<img src="{{ url_for('static', filename='logo.png') }}" alt="BookEasy Logo" width="300" height="300">
</a>
</td>


<td>
<form id="signup" action="./Home" method="post" >

<label>Account created successfully!</label> 
<br><br>

<a href="./Home"> <label>Sign In Now!</label> </a><br>

</form>
</td>

<td>
</td>

</tr>
</table>

<br><br>

<div style="text-align: center;">
<label >© BookEasy Inc. | All Rights Reserved</label>
</div>

</body>
</html>