<html>

<head>
<title>Profile | BookEasy </title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" >
    <style>
        .success { color: green; font-weight: bold; }
        .error { color: red; font-weight: bold; }
    </style>
</head>

<body>

<br>
<h1>BookEasy - Ticket Bookings Made Easy</h1>
<br>
<br>
<br>
<h2 style="text-align: center;color: green;">Account Deleted Successfully!</h2>

<br>
<br>

<div style="text-align: center;">
<a href="/Home"><button type="submit" name="returnhomebutton">Home</button></a>
</div>

<br>
<br>
<br>


<div style="text-align: center;">
<label >© BookEasy Inc. | All Rights Reserved</label>
</div>

</body>
</html>